* {
	padding: 0px;
	margin: 0px;
}

body {
	background-image: url("image.jpeg");
	background-size: 1400px 658px;
}
section {
	background-color: white;
	position: relative;
	border: 2px solid #90EE90;
	margin: 5% 20% 5% 5%;
	height: 500px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .8);
}

h1, [today-date]{
	color: green;
	text-align: center;
	padding: 5px;
}

[type="text"]{
	width: 70%;
	margin-left: 3%;
	padding: 3px;
	border: 2px solid #90EE90;
	border-radius: 5px;
}

[type="submit"]{
	width: 20%;
	padding: 3px;
	background-color: green;
	color: white;
	border-radius: 5px;
}

hr {
	border: 1px solid #B0C4DE;
}

#task ul{
	font-size: 18px;
	max-height: 255px;
	overflow: auto;
	list-style-type: none;
}

#task li {
	margin-left: 10px;
	padding: 5px;
	font-size: 18px;
	border-bottom: 1px solid #B0C4DE;
}

#task input {
	float: left;
	margin-right: 10px;
	cursor: pointer;
	height: 20px;
	width: 20px;
	color: red;
}

.taskstyle {
	color: red;
}

[clear-task]{
	width: 40%;
	margin-left: 27%;
	position: absolute;
	top: 440px;
	padding: 10px;
	border-radius: 8px;
	color: white;
	font-size: 16px;
	background-color: Green;
}

[copy-right]{
	width: 40%;
	margin-left: 25%;
	margin-right: 25%;
	position: absolute;
	bottom: 15%;
	text-align: center;
	color: green;
}
